{% extends 'base.html.twig' %}

{% block body %}

    {% if participant is defined %}
        <p>Nom : {{ participant.nom }}</p>
        <p>Prénom : {{ participant.prenom }}</p>
        <p>E-mail : {{ participant.email }}</p>
        <p>telephone : {{ participant.telephone }}</p>
    {% else %}
        <p>Nom : {{ app.user.nom }}</p>
        <p>Prénom : {{ app.user.prenom }}</p>
        <p>E-mail : {{ app.user.email }}</p>
        <p>telephone : {{ app.user.telephone }}</p>
    {% endif %}

    {% if participant is defined %}
        {% set participantId = participant.id %}
    {% elseif app.user.nom is not null %}
        {% set participantId = app.user.id %}
    {% endif %}

    {% if is_granted("ROLE_ADMIN") or participant is not defined %}
        <button><a href="{{ path('profil_modifier',{'id' : participantId}) }}">Modifier</a></button>
    {% endif %}

{% endblock %}

{% block title %}
    <h2>Page profil</h2>
{% endblock %}

