{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <h2>Acceuil</h2>
    {{ form_start(formulaire , {'attr': {'id': 'formulaireRecherche'}}) }}
        {{ form_row(formulaire.mot) }}
        {{ form_row(formulaire.campus) }}
        {{ form_row(formulaire.dateMin) }}
        {{ form_row(formulaire.dateMax) }}
        {{ form_row(formulaire.inscritFalse) }}
        {{ form_row(formulaire.inscritTrue) }}
        {{ form_row(formulaire.organisateurFalse) }}
        {{ form_row(formulaire.organisateurTrue) }}
        {{ form_row(formulaire.passee) }}
        {{ form_row(formulaire.ouverte) }}
        {{ form_row(formulaire.creee) }}
        {{ form_row(formulaire.rechercher) }}
    {{ form_end(formulaire) }}

    <button><a href="{{ path('sortie_create') }}">Ajouter une sortie</a></button>

    {% include 'sortie/_affichageSortie.html.twig' with {sorties: sorties , currentUser: currentUser} only %}




{% endblock %}

{% block script %}
    {% if submitted == false %}
        <script src="{{ asset('javascript/module/_checker.js') }}"></script>
    {% endif %}
{% endblock %}