<table class="table table-sm ">
    <thead class="thead-dark">
    <tr>
        <th scope="col" class="text-center">Nom de la sortie</th>
        <th scope="col" class="text-center">Date de la sortie</th>
        <th scope="col" class="text-center">Clôture inscription</th>
        <th scope="col" class="text-center">Inscrits / Places</th>
        <th scope="col" class="text-center">Etat</th>
        <th scope="col" class="text-center">Inscrit</th>
        <th scope="col" class="text-center">Organisateur</th>
        <th scope="col" class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody class="tbody-light overflow-auto" >
        {% for sortie in sorties %}

            {% set jesuisinscrit = false %}
            {% set messageInscrit = "" %}
            {% set enabled = true %}
            {% set colorgrey ="" %}

            {% if sortie.participants.contains(app.user) %}
                {% set jesuisinscrit = true %}
                {% set messageInscrit = "Oui" %}
            {% endif %}

            {% if sortie.participants.count == sortie.nbInscriptionsMax %}
                {% set enabled = false %}
                {% set colorgrey = "color : grey" %}
            {% endif %}

            <tr>
                <th scope="row">{{ sortie.nom  }}</th>
                <td class="text-center">{{ sortie.dateHeureDebut | format_datetime('short', 'none', locale='fr')}}</td>
                <td class="text-center">{{ sortie.dateLimiteInscription | format_datetime('short', 'none', locale='fr')}}</td>
                <td  class="text-center" style="{{ colorgrey }}">{{sortie.participants.count}}/{{ sortie.nbInscriptionsMax }}</td>
                <td class="text-center">{{ sortie.unEtat}}</td>
                <td class="text-center">{{ messageInscrit }}</td>
                <td class="text-center">{{ sortie.organisateur.pseudo }}</td>
                <!-- TD des Actions -->
                <td class="text-center">
                    <a class="btn-xs btn-secondary rounded px-1" href="{{ path('sortie_detail',{'id': sortie.id}) }}">Afficher</a>

                    {% if sortie.organisateur.id is same as(app.user.id) %}

                        {% if sortie.unEtat.libelle is same as("Créée") %}
                            <a class="btn-xs btn-secondary rounded px-1" href="{{ path('sortie_inscriptionEtAction',{'action': 'publier','idSortie': sortie.id ,'idUser': app.user.id,'route':'acceuil'}) }}"
                            >Publier </a>
                        {% endif %}

                        <a class="btn-xs btn-secondary rounded px-1" href="{{ path('sortie_inscriptionEtAction',{'action': 'modifier','idSortie': sortie.id ,'idUser': app.user.id,'route':'UNUSED'}) }}"
                        >Modifier</a>
                        {% if sortie.unEtat.libelle is not same as("Annulée")%}
                        <a class="btn-xs btn-secondary rounded px-1" href="{{ path('sortie_inscriptionEtAction',{'action': 'annuler','idSortie': sortie.id ,'idUser': app.user.id,'route':'acceuil'}) }}"
                        >Annuler</a>
                        {% endif %}

                    {% else %}

                        {% if jesuisinscrit %}
                            <a class="btn-xs btn-secondary rounded px-1" href="{{ path('sortie_inscriptionEtAction',{'action': 'desinscrire','idSortie': sortie.id ,'idUser': app.user.id,'route':'UNUSED'}) }}"
                            >Se desister</a>
                        {% elseif enabled %}
                            <a class="btn-xs btn-secondary rounded px-1" href="{{ path('sortie_inscriptionEtAction',{'action': 'inscrire','idSortie': sortie.id ,'idUser': app.user.id,'route':'UNUSED'}) }}"
                            >S'inscrire</a>
                        {% endif %}

                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>




