{% extends 'base.html.twig' %}

{% block body %}
<h2>Ajouter une sortie</h2>
    {{ form_start(formSortie) }}
    <div class="inline">
        <div>
            {% do formSortie.supprimer.setRendered() %}
            {% do formSortie.annuler.setRendered() %}
            {% do formSortie.ajouterLieu.setRendered() %}

            {{ form_row(formSortie.nom) }}
            {{ form_row(formSortie.infosSortie) }}
            {{ form_row(formSortie.duree) }}
            {{ form_row(formSortie.nbInscriptionsMax) }}
            {{ form_row(formSortie.dateHeureDebut) }}
            {{ form_row(formSortie.dateLimiteInscription) }}
            <div class="inline">
                {{ form_row(formSortie.enregistrer) }}
                {{ form_row(formSortie.publier) }}
            </div>
        </div>
        <div>
            <p> Campus : {{ app.user.leCampus.nom}}  </p>
            {{ form_row(formLieu.ville) }}
            {{ form_row(formSortie.lieu) }}
            {{ form_end(formSortie) }}
            <p> Rue : TODO rue en script  </p>
            <p> Code Postal : TODO rue en script   </p>
            <button><a href="{{ path('sortie_lieu') }}">Ajouter un lieu</a></button>
        </div>
    </div>
{% endblock %}

{% block title %}
Ajout d'une sortie
{% endblock %}

