{% extends 'base.html.twig' %}

{% block body %}
<h2>Ajouter une sortie</h2>
    {{ form_start(sortieForm) }}
    {% do sortieForm.supprimer.setRendered() %}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.infosSortie) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
    <div class="inline">
        {{ form_row(sortieForm.enregistrer) }}
        {{ form_row(sortieForm.publier) }}
        {{ form_row(sortieForm.annuler) }}
    </div>
    {{ form_end(sortieForm) }}
{% endblock %}

{% block title %}
Ajout d'une sortie
{% endblock %}

