{% extends 'base.html.twig' %}

{% block body %}
<h2>Ajouter une sortie</h2>
    {{ form_start(formSortie) }}

    <div class="inline" id="corp">
        <div>
            {% do formSortie.supprimer.setRendered() %}
            {% do formSortie.annuler.setRendered() %}
            {% do formSortie.ajouterLieu.setRendered() %}
            {% do formSortie.duree.setRendered() %}
            {% do formSortie.lieu.setRendered %}

            {{ form_row(formSortie.nom) }}
            {{ form_row(formSortie.infosSortie) }}
            {{ form_row(formSortie.dureeH) }}
            {{ form_row(formSortie.nbInscriptionsMax) }}
            {{ form_row(formSortie.dateHeureDebut) }}
            {{ form_row(formSortie.dateLimiteInscription) }}
            <div class="inline">
                {{ form_row(formSortie.enregistrer) }}
                {{ form_row(formSortie.publier) }}
            </div>
        </div>
        <div class="form-lieu">
            <p> Campus : {{ currentUser.leCampus }}  </p>
            {{ form_row(formLieu.ville,{attr : {class : 'lieu-ville'}}) }}
            <div class="affichage-adresse">

            </div>
            {{ form_end(formSortie) }}

            <button id="btn_ajouterLieu">Ajouter un lieu</button>

        </div>
    </div>
    <div id="form-ajout-lieu" >
        {{ form_start(formLieu) }}
            {{ form_row(formLieu.villeAjout,{attr : {class : 'FALville'}}) }}
            {{ form_row(formLieu.nom,{attr : {class : 'FALnom'}}) }}
            {{ form_row(formLieu.rue,{attr : {class : 'FALrue'}}) }}
            {{ form_row(formLieu.latitude,{attr : {class : 'FALlat'}}) }}
            {{ form_row(formLieu.longitude,{attr : {class : 'FALlong'}}) }}
        {{ form_end(formLieu) }}
        <button id="smt-ajouter-lieu">Ajouter le lieu</button>
        <button id="fermer_ajout">Fermer</button>
    </div>

{% endblock %}

{% block script %}

    <script type="module" src="{{ asset('javascript/AffichageLieu.js') }}"></script>
    <script type="module" src="{{ asset('javascript/AjoutLieu.js') }}"></script>
    <script type="module" src="{{ asset('javascript/ControleChamps.js') }}"></script>
    <script src="{{ asset('javascript/jquery-3.3.1.js') }}"></script>

{% endblock %}

{% block title %}
Ajout d'une sortie
{% endblock %}

