{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {% set jesuisinscrit = false %}
    {% set messageInscrit = "" %}
    {% set enabled = true %}
    {% set colorgrey ="" %}

    {% if sortieAffichee.participants.contains(app.user) %}
        {% set jesuisinscrit = true %}
        {% set messageInscrit = "Oui" %}
    {% endif %}

    {% if sortieAffichee.participants.count == sortieAffichee.nbInscriptionsMax %}
        {% set enabled = false %}
        {% set colorgrey = "color : grey" %}
    {% endif %}

    {% set placesRestantes = (sortieAffichee.nbInscriptionsMax-sortieAffichee.participants.count)%}


    <div class="container">

        <h2 class="text-center">Votre sortie "{{ sortieAffichee.nom }}" </h2>
        <div class="d-flex flex-column flex-lg-row offset-lg-2">
            <div class="offset-2 col-lg-8 myColor m-2 p-4 rounded">
                <div>Infos :</div>
                <p class="col-8">{{ sortieAffichee.infosSortie }}</p>
                <p>Etat : Sortie {{ sortieAffichee.unEtat.libelle }}</p>
                <p>Duree : {{ duree | format_datetime(pattern="HH 'heures ' mm 'minutes '")}}</p>

                <p style="{{ colorgrey }}">Il y a {{ placesRestantes }} places restantes !</p>
            </div>
            <div class="d-flex flex-row flex-lg-column offset-2 offset-lg-0 col-2">
            {% if app.user.id is same as(sortieAffichee.organisateur.id)  or is_granted('ROLE_ADMIN') %}
                <button class="myColor btn btn-light mt-2"><a href="{{ path('sortie_modifier',{'id' : sortieAffichee.id}) }}">Modifier</a></button>
                    {% if sortieAffichee.unEtat.libelle is same as("Créée") %}
                        <button class="myColor btn btn-light mt-2"><a href="{{ path('sortie_inscriptionEtAction',{'action': 'publier','idSortie': sortieAffichee.id ,'idUser': app.user.id,'route':'acceuil'}) }}">Publier</a></button>
                    {% endif %}
                    {% if sortieAffichee.unEtat.libelle is not same as("Annulée")%}
                        <button class="myColor btn btn-light mt-2"><a href="{{ path('sortie_inscriptionEtAction',{'action': 'annuler','idSortie': sortieAffichee.id ,'idUser': app.user.id,'route':'acceuil'}) }}">Annuler</a></button>
                    {% endif %}
            {% else %}
                    {% if jesuisinscrit %}
                        <button class="myColor btn btn-light mt-2"><a href="{{ path('sortie_inscriptionEtAction',{'action': 'desinscrire','idSortie': sortieAffichee.id ,'idUser': app.user.id,'route':'UNUSED'}) }}">Se desister</a></button>
                    {% elseif enabled %}
                        <button class="myColor btn btn-light mt-2"><a href="{{ path('sortie_inscriptionEtAction',{'action': 'inscrire','idSortie': sortieAffichee.id ,'idUser': app.user.id,'route':'UNUSED'}) }}">S'inscrire</a></button>
                    {% endif %}
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

