<nav class="d-flex flex-column flex-lg-row">
        {% if app.user %}
                {% if is_granted("ROLE_ADMIN") %}
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('main_ville') }}">Villes</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('main_campus') }}">Campus</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_register') }}">Ajouter un profil</a>
                {% endif %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('main_profil') }}">Mon profil</a>
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('main_acceuil') }}">Acceuil</a>
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_logout') }}">Se deconnecter</a>
        {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
</nav>